//colors
$colorNeutral: #7e7e7e;
$colorNeutralDark: #343434;
$colorNeutralLight: #CECECE;

//spaces
$space1: 0.25rem;
$space2: 0.5rem;
$space3: 1rem;
$space4: 1.5rem;
$space5: 2rem;
$space6: 3rem;

$sizeContent: 1080px;

//breakpoints
$mobile: "max-width: 360px";
$tabletS: "min-width: 500px";
$tablet: "min-width: 700px";
$desktopS: "min-width: 1000px";
$desktop: "min-width: 1200px"; 