@import "@/styles/variables";
.card {
  width: 300px;
  height: 360px;
  border-radius: $border;
  padding: $space5;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  @media screen and ($tabletS) {
    height: 300px;
  }
  .layer {
    width: 100%;
    height: 100%;
    background-color: $colorPrimary;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    transition: 0.3s;
  }
  h3 {
    color: white;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    transition: 0.4s;
  }
  p {
    color: transparent;
    position: absolute;
    height: 200px;
    max-width: 200px;
    overflow: hidden;
    top: 100px;
    z-index: 2;
    transition: 0.3s;
    @media screen and ($tabletS) {
      top: 80px;
      max-width: 220px;
    }
  }

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    p {
      color: white;
    }
    .layer {
      top: 0;
    }
  }
  @media screen and (max-width: 1000px) {
    .layerActive {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      top: 0;
    }
    .pActive {
      color: white;
    }
  }
  .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    @media screen and ($tabletS) {
      height: 300px;
    }
    img {
      object-fit: cover;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: $colorGradientOverlay;
      top: 0;
      left: 0;
    }
  }
}
