@import "@/styles/_variables.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space3 0;
    @media screen and ($desktopS) {
        padding: $space4 0;
    }
}