@import "@/styles/variables";
.pricesTable {
    tr td:last-child {
        font-weight: 700;
        color: $colorPrimary;
      }
}
.legend {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  gap: $space4;
  margin: $space4 0;
}